/build/
/.build_from_path_drift/
*.o
*.so
*.a
*.out
*.log
*.tmp
*.swp

# rust
**/target/
Cargo.lock

# python
__pycache__/
*.pyc
python/build/
python/dist/
python/*.egg-info/
python/feRcuda_mega_test/bin/

# editor/system
.vscode/
.idea/
.DS_Store
